# Summary
Let's look at the points that this post will cover: 
- What is the dataset? 
- Source of data? 
- What are the fields? 
- What is our objective? 
- Steps to our objective?
  - Questions?
  - Reading the data
  - Descriptive statistics
  - Inferential statistics
  - Exploratory data analysis
    - sql, plots
    - pandas, plots
    - highlight some important findings
  - Machine learning
  - Deep learning

**Q. What is the dataset?** <br>
A. The dataset mainly has transactional data for a retail store which has details about stocks (retail), their date of purchase, price, customer id (who bought), quantity.

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [6]:
df = pd.read_excel('datasets/Online Retail (1).xlsx')

In [11]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [81]:
df[['Quantity','UnitPrice']].describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [85]:
# Removing rows from df where quantity/unitprice is negative (for now)
df_ = df[(df['Quantity'] >= 0) & (df['UnitPrice'] >= 0)]

In [84]:
df_[['Quantity','UnitPrice']].describe()

            Quantity      UnitPrice
count  531283.000000  531283.000000
mean       10.655299       3.898954
std       156.830617      35.876279
min         1.000000       0.000000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

In [24]:
df.sort_values('Quantity', ascending=True).head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom
225529,556690,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom
225530,556691,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,2010-12-02 14:23:00,0.03,15838.0,United Kingdom
225528,556687,23003,Printing smudges/thrown away,-9058,2011-06-14 10:36:00,0.00,NaN,United Kingdom
115818,546152,72140F,throw away,-5368,2011-03-09 17:25:00,0.00,NaN,United Kingdom
431381,573596,79323W,"Unsaleable, destroyed.",-4830,2011-10-31 15:17:00,0.00,NaN,United Kingdom
341601,566768,16045,NaN,-3667,2011-09-14 17:53:00,0.00,NaN,United Kingdom
323458,565304,16259,NaN,-3167,2011-09-02 12:18:00,0.00,NaN,United Kingdom

**Q. What is the source of the dataset? ** <br>
A. This dataset has been downloaded from http://archive.ics.uci.edu/ml/datasets/online+retail, the original source of this data is, School of engineering, London south bank university.

** Q. What are the fileds? Describe each one of them.** <br>
A. Below are the fields in the dataset. <br>
__InvoiceNo__ : This is the unique number to acknowledge a sale <br>
__StockCode__ : This is the unique code of the stock (product) that was sold <br>
__Description__ : Description of the product, (human readable) <br>
__Quantity__ : Total quantity of a particular product sold per invoice <br>
__InvoiceDate__ : Date when the product was sold <br>
__UnitPrice__ : Price of the product <br>
__CustomerId__ : Unique id to separate out each customer <br>
__Country__ : Country of the customer (residence) <br>

** Q. What is our objective?** <br>
A. Let's come back to this later!

** Questions ** <br>
1. Total unique products, customers, countries
2. Which country has the most number of sales?
   1. Quantity
   2. Price
3. Which country do most customers belong to outside UK?
4. Top 5 products 
   1. quantity
   2. price
5. Which day of the week, month of the year, quarter of the year has shown max sales?
6. Which customer, country has ordered the most?
   1. quantity
   2. price
7. How many orders were cancelled per day, month, quarter?
8. Identify bulk orders, customers who frequently order and items that are ordered in bulk.
9. 10 Products in high demand and if applicable, its price variation and time of demand.
10. Cancellations per customer/products, to find which customer cancells the most.

** Question 1 : Total unique products, customers, countries**

In [75]:
print "Total 'products' in the dataset are: {}".format(len(df_.StockCode.unique()))

Total 'products' in the dataset are: 3941

In [76]:
print "Total 'customers' in the dataset are: {}".format(len(df_.CustomerID.unique()))

Total 'customers' in the dataset are: 4340

In [77]:
print "Total 'countries' in the dataset are: {}".format(len(df_.Country.unique()))

Total 'countries' in the dataset are: 38

** Question 2 : Which country has the most number of sales? w.r.t quantity and sales**

In [105]:
#country_quantity_df = pd.DataFrame({'Count': df_[['Country', 'Quantity', 'UnitPrice']].groupby(['Country', 'Quantity', 'UnitPrice']).size()}).reset_index()